---
import { container, heading, nav, navList, navItem } from './styles.css';
---

<div class={container}>
  <h1 class={heading}>Hi, I'm Nick Telsan</h1>

  <p>I write code and thoughts sometimes. Stay a while a listen.</p>
</div>
