---
import HTML from '../astro/html.astro';
import Head from '../astro/head.astro';
import Nav from '../astro/nav.astro';

import Hero from './hero.astro';
import RecentPosts from './recent-posts.astro';

import { main } from './styles.css';
---

<HTML>
  <Head />
  <body>
    <Nav />
    <main class={main}>
      <Hero />

      <RecentPosts />
    </main>
  </body>
</HTML>
